{% extends 'layout.html.twig' %}

{% block main %}
<h2>Modify command {{ command }} of {{ repository }} Github repository</h2>

<form class="form-horizontal well" action="/repositories/{{ repository.id }}/commands/{{ command.id }}" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <div class="control-group">
        <label class="control-label" for="name">Name :</label>
        <div class="controls">
            <input type="text" name="name" required="required" value="{{ command.name }}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="command">Command :</label>
        <div class="controls">
            <textarea name="command" placeholder="Command to execute" required="required" class="input-xxlarge">{{ command.command }}</textarea>
        </div>
    </div>
	<div class="control-group">
		<label class="control-label" for="active">Active ? :</label>
		<div class="controls">
			<input type="checkbox" name="active" value="1" {% if command.active %}checked="checked"{% endif %}>
		</div>
	</div>

	<div class="actions">
        <a href="/repositories/{{ repository.id }}/commands" class="btn"><i class="icon-list"></i> Back to list</a>
        <button type="submit" class="btn btn-success">Modify</button>
        <a href="/repositories/{{ repository.id }}/commands/{{ command.id }}" data-method="delete" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete this command</a>
    </div>
</form>
{% endblock %}