{% extends 'layout.html.twig' %}

{% block main %}
<h2>List of commands for {{ repository }} Github repository</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Command</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for command in repository.commands %}
        <tr class="{{ command.active ? 'success' : 'warning' }}">
            <td>{{ command.id }}</td>
            <td>{{ command.name }}</td>
            <td>{{ command.command }}</td>
            <td>
                <a href="/repositories/{{ repository.id }}/commands/{{ command.id }}/edit" class="btn"><i class="icon-wrench"></i></a>
                <a href="/repositories/{{ repository.id }}/commands/{{ command.id }}" class="btn"><i class="icon-eye-open"></i></a>
                {% if command.active %}
                <a href="/repositories/{{ repository.id }}/commands/{{ command.id }}/deactivate" data-method="PUT" class="btn"><i class="icon-ban-circle"></i></a>
                {% else %}
                <a href="/repositories/{{ repository.id }}/commands/{{ command.id }}/activate" data-method="PUT" class="btn"><i class="icon-ok-circle"></i></a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">No command have been added yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="actions">
    <a href="/repositories/{{ repository.id }}/commands/new" class="btn btn-primary"><i class="icon-indent-right icon-white"></i> Add a command</a>
</div>
{% endblock %}