{% extends 'layout.html.twig' %}

{% block main %}
<h2>Add a new command to {{ repository.name }} Github repository</h2>

<form class="form-horizontal well" action="/repositories/{{ repository.id }}/commands/" method="POST">
    <div class="control-group">
        <label class="control-label" for="name">Name :</label>
        <div class="controls">
            <input type="text" name="name" required="required">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="template">Template :</label>
        <div class="controls">
			<select data-action-name="template">
			    {% for template in templates %}
				<option value="{{ template.command }}">{{ template.name }}</option>
				{% endfor %}
			</select>
			<button class="btn" data-action="recopy" data-source="template" data-dest="command"><i class="icon-arrow-down"></i> Recopy</button>
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="command">Command :</label>
        <div class="controls">
            <textarea name="command" data-action-name="command" placeholder="Command to execute" required="required" class="input-xxlarge"></textarea>
        </div>
    </div>
	<div class="control-group">
		<label class="control-label" for="active">Active ? :</label>
		<div class="controls">
			<input type="checkbox" name="active" value="1">
		</div>
	</div>

	<div class="actions">
        <a href="/repositories/{{ repository.id }}/commands" class="btn"><i class="icon-list"></i> Back to list</a>
        <button type="submit" class="btn btn-success">Add</button>
    </div>
</form>
{% endblock %}