{% extends 'layout.html.twig' %}

{% block main %}
<div class="well">
    <h2>Execution n°{{ execution.id }} of push n°{{ execution.push.id }} on {{ execution.push.repository }}</h2>

    <p>Timestamp : {{ execution.timestamp | date('d/m/Y - H:i:s') }}</p>
	<p>Command : {{ execution.command }}</p>
    <p>{{ execution.runnedCommand }}</p>
    <p>Success : {{ execution.successful }}</p>
    <p>Result : </p>
    <p>{{ execution.shellResult }}</p>

    <div class="actions">
        <a href="/pushes/{{ execution.push.id }}/executions" class="btn"><i class="icon-list"></i> Back to list</a>
    </div>
</div>
{% endblock %}