{% extends 'layout.html.twig' %}

{% block main %}
<h2>Modify {{ repository }} Github repository</h2>

<form class="form-horizontal well" action="/repositories/{{ repository.id }}" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="control-group">
        <label class="control-label" for="name">Name :</label>
        <div class="controls">
            <input type="text" name="name" required="required" value="{{ repository.name }}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="url">URL :</label>
        <div class="controls">
            <input type="text" name="url" placeholder="URL to clone the repository" required="required" class="input-xlarge" value="{{ repository.url }}">
        </div>
    </div>
	<div class="control-group">
		<label class="control-label" for="active">Active ? :</label>
		<div class="controls">
			<input type="checkbox" name="active" value="1" {% if repository.active %}checked="checked"{% endif %}>
		</div>
	</div>

	<div class="actions">
        <a href="/repositories" class="btn"><i class="icon-list"></i> Back to list</a>
        <button type="submit" class="btn btn-success">Modify</button>
        <a href="/repositories/{{ repository.id }}" data-method="delete" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete this repository</a>
    </div>
</form>
{% endblock %}